extends ../layout
block content
  .col-md-8.col-md-offset-4.up-push
    h1 #{message}
    p ¿Eliminar el folio #[strong #{objeto.id}?]
    p Tipo de objeto: #[strong #{objeto.type}]
    p descripción de objeto: #[strong #{objeto.description}]
    img.img-responsive.img-thumbnail.col-md-4.col-md-offset-1(src='/uploads/#{objeto.imagen}')
    form(method='POST', action='/admin/#{objeto._id}?_method=delete')
      .col-md-6.form-group.text-right.margin-top
        input.btn.btn-info(type='submit', value='Eliminar')
      .col-md-6.form-group.text-left.margin-top
        a.btn.btn-info(href='/admin') Regresar
