extends layout

block content
  .container.main
    h1.text-center= title
    p.medium Todos los objetos perdidos se listan debajo
    table.table.table-stripped.table-responsive.text-left
      thead
        tr
          th Objeto
          th Tipo
          th Descripción
          th Fecha de captura
      each objeto in objetos
        tr
          td #[img.col-xs-12.col-md-5.jumbotron(src='./uploads/#{objeto.imagen}')]
          td #{objeto.type}
          td #{objeto.description}
          td #{objeto.fechaEntrada}
