extends layout

block content
  .container.main
    h1.text-center= title
    p.medium Todos los objetos perdidos se listan debajo
    table.table.table-stripped.table-responsive
      thead
        tr
          th Objeto
          th Tipo
          th Descripción
          th Fecha de captura
      each objeto in objetos
        tr
          th Folio: #{objeto.id} #[p #{objeto.imagen}]
          th #{objeto.type}
          th #{objeto.description}
          th #{objeto.fechaEntrada}
